<div>
    <table>
        <thead>
        <tr>
            <th>번</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each ="q, loop : ${questionList}">
                <td th:text="${loop.count}"></td>
                <td>
                    <a th:href="@{|/question/detail/${q.id}|}" th:text="${q.subject}"></a>
                </td>
<!--                <td th:text="${q.subject}"></td>-->
                <td th:text="${#temporals.format(q.createDate, 'yyyy년MM월dd일 HH시mm분')}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/question/create}">게시글 등록</a>
</div>